/* Ensure the container takes full available height */
.interview-history-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: 'center';;
  max-width: 100%;
  margin: 0px 160px 
}

.interview-history-grid {
  flex: 1;
  overflow: auto;
}
